/* reset begin */
* {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
  }
  li {
    list-style: none;
  }
  a:hover {
    opacity: .6;
  }
  
  /* reset end*/