@import "./reset.css";
@import "./value.css";

/* h2 reset*/
h2 {
  margin: 66px auto 12px;
  font-weight: 700;
  /* border-top: 6px solid #5011e4; */
  border-top: 6px solid rgb(8, 213, 240);
  width: 120px;
  height: 36px;
  border-radius: 2px;
  background-color: var(--main-pink-color);
  border-radius: 12px;
  box-shadow: 1px 1px 1px #d48282;
  font-size: 16px;
  display: block;
  /* width: 100%;
  height: 100%; */
  line-height: 36px;
  color: rgb(12, 1, 8);
  letter-spacing: 4px;
  text-align: center;
}

h2 a:target {
  color: #f40;
}
/* h2 reset end*/

/* body begin */
body {
  background-color: var(--main-color);
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}

/* loadings begin */
.loadings {
  position: fixed;
  z-index: 244;       
  width: 0px;
  height: 0px;
}

.loading {
  width: 35px;
  height: 35px; 
  /* border-radius: 50%; */
  background: url('../static/img/loading.webp');
  background-size: cover;
  animation: loading 2s infinite;
  -webkit-animation: loading 2s infinite; /* Safari 和 Chrome */

}

@keyframes loading {
  0% {
      opacity: 0.2;
      transform: rotate(0deg);
      -ms-transform: rotate(0deg); 	/* IE 9 */
      -moz-transform: rotate(0deg); 	/* Firefox */
      -webkit-transform: rotate(0deg); /* Safari 和 Chrome */
      -o-transform: rotate(0deg); 	/* Opera */
  }
  50% {
      opacity: 0.8;   
  }
  100% {
      opacity: 0.2;
      z-index: -100;
      transform: rotate(360deg);
      -ms-transform: rotate(360deg); 	/* IE 9 */
      -moz-transform: rotate(360deg); 	/* Firefox */
      -webkit-transform: rotate(360deg); /* Safari 和 Chrome */
      -o-transform: rotate(360deg); 	/* Opera */
  }
}
/* ladings end */


/* header begin */
header {
  width: 100%;
  height: 36px;
}
header a {
  display: block;
  max-width: 600px;
  width: 100%;
  height: 36px;
  position: fixed;
  line-height: 36px;
  background-color: var(--main-color);
  text-shadow: 1px 2px 3px #e3dbdb;
  box-shadow: 0px 1px 1px var(--main-deep-color);
  color: #b32aa9;
  animation: run 3s;
  -webkit-animation: run 3s; /* Safari 和 Chrome */
  z-index: 233;
  /* opacity: .4; */
}
@keyframes run {
  0%{
    background-color: #000;
  }
  100%{
    background-color: rgb(222, 214, 224);
  }
}
/* header end */


/* mingzhan begin */
.mingzhan {
  border: 12px solid var(--main-deep-color);
  border-radius: 4px;
  margin-top: 12px;
  box-shadow: 1px 1px 3px #000;
  background-color: var(--main-deep-color);
}
.mingzhan ul {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.mingzhan li {
  float: left;
  width: 20%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  overflow: hidden;
}
.mingzhan li:nth-of-type(2n+1) {
  background-color: var(--main-pink-color);
  box-shadow: inset 0px 1px 1px #000;
}
.mingzhan li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* mingzhan end */


/* cool begin */
.cool {
  width: 98%;
  margin: 24px auto 12px auto;
}

.cool ul {
  display: flex;
  justify-content: space-between;

}
.cool ul li {
  border-radius: 2px;
  height: 40px;
  width: 24.6%;
  margin-bottom: 4px;
  line-height: 40px;
  /* box-shadow: 1px 1px 1px rgb(77, 5, 247); */
}

.cool li a {
  display:inline-block;
  width:100%;
  height:100%;
  background-color: var(--main-pink-color);
}
/* cool end */

.explore li {
  height: 50px;
  background-color: var(--main-pink-color);
  /* margin-bottom: 4px; */
  overflow: hidden;
  width: 98%;
  margin: 4px auto;
  box-shadow: 0px 1px 1px #000;


}

.wrapper {
  display: flex;
}
.wrapper-right {
  padding-left: 4px;
  line-height: 50px;

}

/* footer begin */
footer {
  margin: 2px auto 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 0px;
  background:var(--main-deep-color);
}
footer p {
  line-height: 24px;
  font-size: 12px;
}

footer a {
  color: rgba(8, 8, 8, 0.6);
  text-shadow:-1px -1px rgba(255, 255, 255, .3); 
  /* color:blue;  */
  text-decoration: underline;
  font-size: 12px;
  
}








